.problem {
    margin-bottom: 15px;
}

.problem.solved {
    color: #2ECC71;
}

.problem .word {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
}

.problem .letter {
    display: inline-flex;
    flex-direction: column;
    white-space: pre;

    font-family: "Roboto Mono";
    font-weight: bold;
    font-size: larger;
}

.problem .letter .letter-input {
    border: none;
    padding: 0;
    width: 1ch;

    font-family: "Roboto Mono";
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
}

.problem .letter .letter-input::placeholder {
    color: #CCCCCC;
}

.problem .letter .letter-input:focus {
    outline: none;
    caret-color: transparent;
    background-color: #F9E79F;
}

.problem .letter .letter-input.dupe {
    color: #E74C3C;
}

.table {
    font-family: "Roboto Mono";
}

.table .hid {
    color: #CCCCCC;
}

.table .used {
    background-color: #EEE;
}

.table .dupe {
    background-color: #E74C3C;
    color: white;
}

.table td.inputcontainer {
    padding: 0;
}

.bareinput {
    border: 0;
    border-radius: 0;
    caret-color: transparent;
}